header{
    display: flex;
    height: 100px;
    background-color: #000000;
}

.black-button{
    background-color: black;
    color: white;
    border: 1px black;
    text-align: center;
    
}

.green-button{
    background-color: rgb(127,162,109);
    color: white;
    border: 1px black;
    text-align: center;
}

.search-button{
    background-color: black;
    color: white;
    border: 1px black;
    text-align: center;
    border-radius: 40px;
}

#red-button{
    color: coral;
}

.nav{
    padding-top: 40px;
    padding-left: 700px;
}

#padding-logo{
    padding-top: 20px;
    padding-left: 30px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    color: 333;
}

.section-size{
    width: 50%;
    height: 160px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif; 
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 80px;
    line-height: 30px;
}

.list-bold{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: 333;
    font-weight: bold;
    word-spacing: 2px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.aside-location{
    float: right;
    width: 35%;
    margin-top: -650px;
    margin-bottom: 20px;
    background-color: rgb(70, 82, 122);  
}

#aside-parag{
    float: right;
    margin-top: -700px;
    margin-bottom: 10px;
    margin-right: 12%;
    font-size: 26px;
    color: 333;
}

.aside-content{
    color: white;
    width: 60%;
    margin-left: 30px;
}

.input-content{
    width: 60%;
    margin-left: 30px;
    margin-top: 10px;
}

#paraghap-inner{
    color: white;
    width: 60%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif; 
    line-height: 24px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#button-bottom{
    margin-left: 30px;
    margin-bottom: 40px;
    height: 16px;
}

#parag-bottom{
    width: 30%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif; 
    line-height: 24px;
    margin-top: -160px;
    margin-left: 30%;
}